body {
    background-image: url("img/game.png");
    background-size: auto;
    text-align: center;
}

#plei {
    text-align: center;
}

.button {
    background: whitesmoke;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    background-color: rgba(255, 255, 255, 255);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

button {
    height: 150px;
    width: 100px;

}

button:hover {
    cursor: pointer;
}

.section2 {
    padding-left: 100px;
}

.statistics {
    border: 1px solid black;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}