@font-face {
    font-family: Pokemon_GB;
    src: url('Pokemon_GB.ttf') format('truetype')
}

* {
    font-family: Pokemon_GB;
}

#root {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}

body {
    background-image: url("img/game.png");
    background-size: cover;
    background-position: 0% 30%;
    background-repeat: repeat;
    text-align: center;
}

h1 {
    margin-top: 2%;
}

.image {
    display: inline;
    text-align: center;
}

.container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(6, 6rem);
    grid-template-rows: repeat(3, 8.5rem);
    gap: 25px;
    max-width: 1000px;
    justify-content: center;
    text-align: center;
    margin: auto;
    perspective: 1000px;

}

.card {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    margin: 5px;
    top: 0;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 7px;
    /*box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.9);*/
    border: 4px solid #98B88F;
    background: #CCECFC;

}


.imageBack,
.imageFront {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.7));*/
    pointer-events: none;

}

.card-.imageBack {
    background: #EAFAFB;
    transform: rotateY(180deg);


}

.flip {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    margin: 5px;
    top: 0;
    cursor: pointer;
    transform-style: preserve-3d;
    border-radius: 7px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border: 4px solid #98B88F;
    /*box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.8); */
}

.imageBack {
    background-color: #EAFAFB;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;

}

.imageFront {
    backface-visibility: hidden;


}

#plei {
    text-align: center;
}

.button {
    background: whitesmoke;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 {
    background-color: rgba(255, 255, 255, 255);
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
}

button {
    height: 170px;
    width: 120px;

}

button:hover {
    cursor: pointer;
}

.section2 {
    padding-left: 100px;
}

.statistics {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border: 1px solid black;
    height: 100px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    margin-left: 100px;
}

#footer {
   font-family: sans-serif;
   position: absolute;
   bottom: 5%;
   width: 99%;
   height: 40px;
}